@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>The Man, the Myth, the college studnet trying to graduate</h2>
    <p class="lead">This is an example of my work I will be doing in MIS4200 at Ohio University. 
    Please visit my Linkedin page with the link below.</p>
    <p><a href="https://www.linkedin.com/in/clayshannon/" class="btn btn-primary btn-lg">Linkedin &raquo;</a></p>
</div>
<div class="row">
	@Html.ActionLink("Doctor", "Index", "Doctor")
	@Html.ActionLink("Patients", "Index", "Patients")
	@Html.ActionLink("Appointments", "Index", "Appointments")
</div>

<div class="row">
    <h2>Please click on the links below to get to know me and my interest!</h2>
    <div class="col-md-4">
        <h2>Cooking</h2>
        <p>
            Growing up I belonged to a family that has been in the restuarnt and
            bar indusrty for decades having own their most recent business  for over 15 years.
            I learned how to cook when I was 3 and my favorite foods to cook are Middle Eastern Cuisines.
        </p>
        <p><a class="btn btn-default" href="https://feelgoodfoodie.net/recipe/lebanese-stuffed-grape-leaves/">Favorite Food &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Renewable Energy</h2>
        <p>Taking a stance for renewable energy solutions is something I'm very passionity about.
        Recently, I came across a new form of collecting energy throuhg people walking.
        This new system uses kinetic energy collection.</p>
        <p><a class="btn btn-default" href="https://energy-floors.com/">Kinetic Energy Floor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fitness</h2>
        <p>I've always participated in sports growing up and started weight training when I entered college. 
        This has become a hobby and passion for me and is like a meditation for me. </p>
        <p><a class="btn btn-default" href="https://www.bodybuilding.com/store/?bbkwid=12617211&gclid=EAIaIQobChMI7fDB1JvF5QIVTv_jBx1S8ABkEAAYASAAEgKw-fD_BwE">Learn more &raquo;</a></p>
    </div>
</div>